body{
	margin: 0;
	padding: 0;
	background-image: url("https://i.pinimg.com/originals/ef/7f/b1/ef7fb1b37078b6a2aef8e40710446bfa.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
p {
	font-size: 40px;
	text-align: center;
	position: relative;
	top: 40px;
}